<mat-toolbar class="mat-elevation-z8">
  <img src="/assets/images/logo.png" style="max-height: 70px;" alt="logo" class="logo" routerLink="/">
  <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: larger;">
    <div class="spacer"></div>
    <a mat-button class="btn1 p-2" [routerLink]="['/']" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}" >Home</a>
    <a mat-button class="btn2 p-2" routerLink="/shop" routerLinkActive="active">Shop</a>
    <a  mat-button class="btn3 p-2" routerLink="/test-error" routerLinkActive="active">Errors</a>
  </nav>
  <div class="d-flex align-items-center">
    <a  mat-button routerLink="/basket" class="btn4">
      <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
      <div *ngIf="(basket$ | async)" class="cart-no">{{(basket$ | async).items.length}}</div>
    </a>
    <ng-container *ngIf="(currentUser$ | async)===null">
      <a  mat-raised-button routerLink="/account/login" color="accent" class="btn5 btn-outline-secondary mr-2">Login</a>
      <a  mat-raised-button routerLink="/account/register" color="accent" class="btn6 btn-outline-secondary mr-3">Sign up</a>
    </ng-container>
    <ng-container *ngIf="currentUser$ | async">
      <div class="dropdown ml-3 mr-5" dropdown>
        <a class="dropdown-toggle" style="cursor:pointer" dropdownToggle>
          <strong>Welcome{{(currentUser$ | async).displayName}}</strong>
        </a>
        <div class="dropdown-menu dropdown-menu-right" style="cursor:pointer;" *dropdownMenu>
          <a routerLink="/basket" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-shopping-cart mr-3"></i> View Basket
          </a>
          <a routerLink="/orders" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-history mr-3"></i> View Orders
          </a>
          <div class="dropdown-divider"></div>
          <a (click)="logout()" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-shopping-cart mr-3"></i> Logout
          </a>
        </div>
      </div>
    </ng-container>
  </div>
</mat-toolbar>
